/* ## Banner Effects Slideshow ## */
/* 
powered by Cycle2 - http://jquery.malsup.com/cycle2/
some of these styles will be set by the plugin (by default) but setting them here
helps avoid flash-of-unstyled-content
*/
.bannerEffectsWrpr {
    position: relative;
    min-height:300px;
    z-index: 1;
    margin-top:40px;
    margin-bottom: 80px;
}
.bannerEffectsWrpr:after {
    position: absolute;
    top: 45px;
    left: 0;
    right: -3px;
    display: block;
    height: 100%;
    content: "";
    background: #231F20;
    z-index: -1;
    -webkit-transform: skewX(-2deg);
    -moz-transform: skewX(-2deg);
    -o-transform: skewX(-2deg);
    transform: skewX(-2deg);
}
.bannerEffectsWrpr .bannerEffectsInner {background: #e4e2e3; border: 3px solid #231f20;}
.bannerEffectsWrpr > .grid_9 {position: static;}
.bannerEffectsWrpr .bannerEffectsInner > h1 {
    margin: 0;
    max-width: 70%;
    font-size: 3em;
    color: #000;
}
.bannerEffectsWrpr .more {
    max-width: 70%;
    text-transform: uppercase;
    font-family: 'Boogaloo', cursive;
    font-size: 2.3em;
}
.bannerEffectsWrpr .more a {
    left: 5px;
    bottom: 5px;
    padding-bottom: 10px;
    background: url(/cms/images/layout/swoosh.png) no-repeat 50% 100%;
    font-size: .8em;
    text-decoration: none;
    color: #ED1B24;
}
.bannerEffectsWrpr .currentFlyer {
    position: absolute;
    top: 97.5%;
    font-size: 1.8em;
}

.bannerEffectsWrpr .currentFlyer img{position: relative;}
.bannerEffectsWrpr .slideshowImage {
    position: absolute; 
    bottom: -5px;
    right: -213px;
    z-index: 1;
}
.bannerEffects .slideItem {
    display:block;
    left: 10px !important;
    right: 222px;
    top: 0px;
    max-height: 340px;
    /* padding: 6px 6px 2px; */
    border-radius: 8px;
    border: 0;
    background: #e4e2e3;
}
.bannerEffects .slideItem img {max-height: 322px;display:block;position:absolute;top:0;left:0;/* padding: 6px 6px 2px; */}
.bannerEffects .slideItem .slide-div{background: #000;padding: 6px 6px 2px; border-radius: 8px; margin-right: 232px;}
/* in case script does not load */
.bannerEffects img:first-child { position: static; z-index: 100; }

.bannerEffects .slideItem.slick-active{position: absolute!important;}
/* pager */
.bannerEffects .cycle-pager { text-align:center; z-index:500; position:absolute; bottom:-15%; right: 20px; overflow:hidden; }
.bannerEffects .cycle-pager span { display:inline-block;color:#fff; font-family: arial; font-size: 55px; line-height: 16px; margin-left: 5px; cursor: pointer; }
.bannerEffects .cycle-pager span.cycle-pager-active { color:#ed1b24; }
.bannerEffects .cycle-pager > * { cursor: pointer; }

.bannerEffects .cycle-pager-number span { width:auto; height:auto; padding:0 3px; font-size:1em; }

.bannerEffects .cycle-pager-image span { width:50px; height:auto; margin:0 7px; font-size:1em; }
.bannerEffects .cycle-pager-image span img { border:2px solid #fff; }
.bannerEffects .cycle-pager-image span.cycle-pager-active img { border-color:#D69746; }

.bannerEffects .cycle-pager-text span { width:auto; height:auto; padding:0 3px; font-size:1em; }

.railBanner {font-family: 'Boogaloo', cursive; text-align: center; margin-bottom: 20px;}
.railBanner .hdng {color: #000; margin-bottom: 15px;}
.railBanner .bannerContent {padding-bottom: 15px;}
.railBanner .bannerContent a {font-size: 1.2em;}
.railBanner .bannerText {font-size: 1.3em; margin-bottom: 15px;}
.railBanner .bannerText span {font-size: 1.5em;}

.railBannerAlt .hdng {font-family: 'Boogaloo', cursive; text-transform: uppercase; margin-bottom: 0;}


.banner-effects-inner{position: relative;}
.banner-effects-inner button.play-pause{position: absolute; bottom: 0.5em; left: -0.75em;}
.banner-effects-inner button.play-pause svg.icon{width:1em; height: 1em; }
/* text overlay */
.bannerEffects .cycle-overlay {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    color:#fff;
    background:#3F3F3F;
    opacity:0.75;
    z-index:101;
}

.bannerEffects.rotateLeftWrpr {margin-bottom: 40px;}
.bannerEffects.rotateLeftWrpr:after {
    bottom:  auto;
    top: 15px;
    height: 100%;
    right: -5px;
}

button.play-pause{background: none; border: none;}
button.play-pause.play-active svg.icon-play3{display: none;}
button.play-pause.pause-active svg.icon-play3{display: block;}
button.play-pause.pause-active svg.icon-pause2{display: none;}
button.play-pause svg.icon{width: 1.5em; height: 1.5em; fill:#ed1c24 }

.bannerEffectsInner button.play-pause{position: absolute;  right: 10px; bottom: -50px; }
.bannerEffectsInner button.play-pause svg.icon-pause2{width: 1.25em; height: 1.25em;}

.newsWidget button.play-pause{position: absolute; bottom: -20px; margin: 0 auto; left: 0; right: 0; }
.newsWidget button.play-pause svg.icon{width: 1em; height: 1em; margin: 0 auto;}
.newsWidget .newsItems a{display: block; position: relative; height: 100%;}
.newsWidget button.play-pause svg.icon.icon-play3{position: relative; top: -3px;}
/* Slider */
.slick-slider {
    position:relative;
    display:block;
    box-sizing:border-box;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
        touch-action:pan-y;
    -webkit-tap-highlight-color:transparent;
}
.slick-list {position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slick-list:focus {outline:none;}
.slick-list.dragging {cursor:pointer; cursor:hand;}
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform:translate3d(0, 0, 0);
       -moz-transform:translate3d(0, 0, 0);
        -ms-transform:translate3d(0, 0, 0);
         -o-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
}
.slick-track {position:relative; top:0; left:0; display:block; margin-left:auto; margin-right:auto;}
.slick-track:before,
.slick-track:after {display:table; content:'';}
.slick-track:after {clear:both;}
.slick-loading .slick-track {visibility:hidden;}
.slick-slide {display:none; float:left; height:100%; min-height:1px;}
[dir='rtl'] .slick-slide {float:right;}
.slick-slide img {display:block;}
.slick-slide.slick-loading img {display:none;}
.slick-slide.dragging img {pointer-events:none;}
.slick-initialized .slick-slide {display:block;}
.slick-loading .slick-slide {visibility:hidden;}
.slick-vertical .slick-slide {display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden {display:none;}
.slick-dots{display: flex; position: absolute; list-style: none; justify-content: space-between; padding: 0;}

.slick-dots li{text-indent: -999em; height: 12px; width: 12px; background: #fff; border-radius: 50%; margin: 0 5px; cursor: pointer; padding: 7px;}
.slick-dots li.slick-active{background: #ed1b24;}
.bannerEffects .slick-dots{ bottom: -32%; right: 50px;}
.newsWidget .slick-dots{bottom: -10px; margin: 0; left: 0;}
.newsWidget .slick-dots li{width: 10px; height: 10px; padding: 5px;}



@media (min-width:768px) and (max-width:1023px) {
    .bannerEffects .slideItem {max-height: 226px;}
    .bannerEffectsWrpr .bannerEffectsInner > h1 {font-size:2.5em;}
    .bannerEffects .slideItem img {max-height:222px; width: 100%;}
    .bannerEffectsWrpr .currentFlyer{padding: 12px 10px 0 10px;}
    .bannerEffects .slick-dots{bottom: -100px;}
}
@media (min-width:768px) and (max-width:1024px) {
    .bannerEffectsWrpr .more {font-size: 2em;}
    .bannerEffects .cycle-pager {bottom: -50px;}
    .bannerEffectsWrpr .slideshowImage {width: 225px; right: 0;}
}
@media (max-width:767px) {
    .bannerEffectsWrpr {min-height:0; margin:30px 0;}
    .bannerEffectsWrpr .bannerEffectsInner > h1 {
        max-width: 100%;
        font-size: 2em;
        margin:10px 0 5px;
    }
    .bannerEffectsWrpr:after {
         left:0;
         top:25px;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none;
    }   
    .bannerEffects .slideItem {right: 0px!important; left: 0px!important; padding: 0 10px 10px;}
    .bannerEffects .slideItem img {height:auto !important; max-height:205px; width: 100%!important;}
    .bannerEffects .cycle-pager {bottom: -12s%; right:5px;}
    .bannerEffects .cycle-pager span {font-size: 30px;}

    .bannerEffectsWrpr .more {font-size: 1.1em; max-width: 100%;}
    .bannerEffectsWrpr .currentFlyer {font-size: .8em; display:none; position: static; text-align: left; padding:10px;}
    .bannerEffectsWrpr .currentFlyer img {display: none;}
    .bannerEffectsWrpr .slideshowImage {display:none;}
    .bannerEffects .slideItem .slide-div{margin-right: 0}
    .slick-dots{right: 0; left: 0; margin: 0 auto; justify-content: center; bottom: -50px;}
    .bannerEffectsInner button.play-pause{bottom: -32px;}
    .newsWidget button.play-pause{left: 100px;}
    .bannerEffects .slick-dots{bottom: -50px;}
}