/* ==========================================================================
   Events
   ========================================================================== */

.eventsTheme {margin-bottom:20px;}
.eventsTheme .filter {position:relative;padding:20px 0; background:#e4e2e2; border:4px solid #333;}
.eventsTheme .filterViewWrpr {display:block; text-align:center; margin-bottom:10px;}
.eventsTheme .filterSortFieldsWrpr {display:block; text-align:center;}
.eventsTheme .filterSortFieldsWrpr .filterBy {float: right;}
.eventsTheme .displayMode {margin-top:10px;}
.monthYearDropdowns {display:table; width:100%;}
.monthYearDropdowns span {display:table-cell; vertical-align:middle; text-align:center;}
.viewHead {display:block;}

.eventsTheme .hdng {
    margin: 0 0 10px 0;
    padding: 5px;    
    color: #EE1C25;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.eventsTheme .article > .aside.calendar {
	width: 35%;
}

.eventsTheme .itemList {margin-bottom:10px;}
.eventsTheme .item .itemList {margin-bottom:0px;}

.eventsTheme .date {vertical-align: middle;padding: 10px 0; margin:0 10px; width:80px;display:inline-block;}
.eventsTheme .date > .dateIcon {text-align:center;border:4px solid #333; font-size:1.2em;}
.eventsTheme .date > .dateIcon > .month {font-family: "Luckiest Guy", cursive; color: #ED1B24;}
.eventsTheme .date > .dateIcon > .day {font-family: 'Boogaloo', cursive;}

.eventsTheme .item {border: none;display: block;padding: 0px;width: auto;}
.eventsTheme .item > .content {display: block;width: 100%;vertical-align: top;padding:10px;}
.eventsTheme .item > .content .content {padding: 0px 0px 10px 0px;}
.eventsTheme .item > .content > .cancelled {font-weight:bold;color:Red;}
.eventsTheme .item > .content > .dateTime {margin:5px 0;}
.eventsTheme .item > .content > .description {}
.eventsTheme .item > .content > .location {}
.eventsTheme .item .item {border: 0px;display: table;padding: 0px;width: 100%;}

.eventsTheme .listRailInfo ul li{margin-bottom:10px;}

.eventsHeadWrpr {}
a.eventLink, a.eventLink:link, a.eventLink:visited {
    display:block;
    font-family: "Luckiest Guy", cursive;
    color: #ED1B24; 
    text-decoration:none;
}
a.eventLink:hover { text-decoration: underline;}
.eventsTheme .row {background-color: #fff} 
.eventsTheme .alternate .row {background-color: #D8D8D8;} 

.viewType {font-family: 'Boogaloo', cursive; font-size:1.1em;}
.viewType .selected {color: #ED1B24;}

/* event media queries */
@media only screen and (max-width: 960px){
    .eventsTheme .filter .displayMode {display:none;}
}


/* calendar month - Tablessss. EWWWWWWWWW */

table.calendarMonth {width:100%; background-color:#fff; border-collapse:collapse;}
table.calendarMonth tr {vertical-align:top;}
table.calendarMonth th {text-align:center; color:#222; padding:6px; background-color:#ccc;}
table.calendarMonth td.day {font-size:12px; font-weight:bold; border:1px solid #cecece;}
table.calendarMonth th.calWeek {color:#222;background: #CCC url(/cms/images/cal-week.gif) no-repeat center;vertical-align: middle;}
table.calendarMonth th.calWeek a {color: #000;}

.calendarNumeral {color:#999; font-size:14px; font-weight:bold;}
.calendarNumeral a, .calendarNumeral a:link, .calendarNumeral a:visited {color:#7aafdf;text-decoration:none;}
.calendarNumeral a:hover, .calendarNumeral a:active {color:#c00;text-decoration:none;}

.calendarDayEmpty {border:1px solid #cecece; }
.calendarDayEmpty, .calendarDayEvent {width:14%; height:50px;}
.calendarDayEvent {border:1px solid #cecece; background-color: #e8e8e8;}
.calendarDayEvent img {margin-top:5px;}

table.thumbItemtBl {width:100%; margin-bottom:10px;}
table.thumbItemtBl td {vertical-align:top; padding:10px 15px;}

table.calendarMonth a.eventNumbLink {display:block;text-align:center;padding:5px 5px 15px 5px;}


/* Event Page */
.eventsDetailsWrpr .socialLikes {float:right;}
.eventsDetailsWrpr h2.name {margin:0px 0px 10px 0px;}
.eventsDetailsWrpr .rating {float:left;margin-bottom:10px;}
.eventsDetailsWrpr .export {margin-bottom:10px;}
.eventsDetailsWrpr h4.cancelled {}
.eventsDetailsWrpr .date {display:block;float:none;width:auto;padding: 0px;font-size:1em;margin-bottom:10px;}
.eventsDetailsWrpr .time {display:block;margin-bottom:10px; clear:both;}
.eventsDetailsWrpr .image {margin-bottom:20px;}
.eventsDetailsWrpr .socialShare {margin-bottom:20px;}


@media (min-width: 48.000em){
    .filterIns {display:table; width:100%;}
    .eventsTheme .filter {padding:20px 10px;}
    .eventsTheme .filterViewWrpr {display:table-cell; width:70%; vertical-align:middle; margin:0; text-align:left;}
    .eventsTheme .filterSortFieldsWrpr {display:table-cell; vertical-align:middle; float:none; width:190px; text-align:left;}
    .viewHead {display:inline;}
    .eventsTheme .item > .content {display:table-cell;}
    .eventsTheme .item > .itemImage {width:75px;margin-left:20px;float:left;}
    .eventsTheme .date {float:left; padding:10px; margin:0;}
}




