
/* ## Member Account ## */

.accountBlocks { position:relative; min-height:1px; margin:25px 0 5px 0; border:1px solid #d2d2d2; background:#fff; }
.accountBlocks .inner { padding:10px 15px 15px; }
.accountBlocks .blockhdng {
	position:relative;
	display:inline-block;
	font-size:1.125em;
	top:-15px;
	left:10px;
	margin:0;
	padding:3px 5px;
	background-color:#fff;
}
    .loginBlock .accountBlocks .hdng2.blockhdng { font-size: 2em; letter-spacing: 2px; transform: rotate(-3deg); border: 2px solid #000; }

.floatLeft {float:left; display:inline;}
.floatRight {float:right; display:inline;}

.multiColumn {}
.multiColumn .halfColumn {float:left; display:inline; width:49%;}
.multiColumn .rightColumn {float:right;}

.accountBlocks .cartwrpr  {margin:0; padding:0;}
.accountBlocks .multipleShips {border-bottom:0; padding:0; margin:0;}

.formTable {vertical-align:top;}
.formTable th {width:100px; padding:0 12px 7px 0; background-color:transparent; vertical-align:top; font-weight:bold;}
.formTable td {padding:0 0 7px 0; vertical-align:top;}
.formTable td td {padding:0 2px 0 0;}

.formTable .req {font-weight:bold;}
.formTable .error {font-weight:bold; color:#f00;}

.formTable .securityCode {padding:7px 5px 7px 0; border:1px solid #a8c6e0;}
.formTable input.text {}

dl.forms {float:left; display:inline; width:100%; margin:0 0 10px 0; padding-top:5px; font-family: 'Boogaloo', cursive;}
dl.forms dt {float:left; clear:left; width: 260px; text-align: right;font-family: "Luckiest Guy", cursive; color: #777777;}
dl.forms dt.full {width:90%; clear:both; text-align:left;}

dl.forms dd {float:left; width: calc(100% - 260px);	margin: 0;	padding:0 5px 7px 20px;}
dl.forms dd.clear {padding:0; margin:0;}
dl.forms dd.full {width:90%; clear:both;}
dl.forms dd.clear {width:90%; clear:both; float:none;}
dl.forms dd.help {padding-top:2px;}
dl.forms dl {float:none; display:block; margin:0;}

dl.forms .req {font-weight:bold;}
dl.forms .error {font-weight:bold; color:#f00;}
dl.forms .optional {font-weight:normal;}

dl.forms label {vertical-align:top;}
dl.forms input.text {width: 160px;}
dl.forms textarea {}

@media (min-width: 768px) {
	.contactInfo dl.forms dd{padding:0 5px 7px 20px !important;}
}

.two-col dl.forms { border-bottom: 1px solid #ccc; }
    .two-col dl.forms dt { border-top: 1px solid #ccc; padding: 5px 0; }
    .two-col dl.forms dd { padding: 0 0 5px; }

@media (min-width: 560px) {
    .two-col dl.forms {
        font-family: 'Boogaloo', cursive;
        float: none;
        margin: 0 0 10px;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .two-col dl.forms dt {
        float: none;
        width: 50%;
        text-align: left;
        padding: 7px 0;
        border-top: 1px solid #ccc;
    }
    .two-col dl.forms dd {
        width: 50%;
        float: none;
        padding: 7px 0 7px 5px;
        border-top: 1px solid #ccc;
    }
}
@media (min-width: 980px) {
    .two-col dl.forms { border: none; }
    .two-col dl.forms dt {
        width: 49%;
        float: none;
        text-align: right;
        margin: 0 0 5px;
        padding: 0;
        padding-right: 10px;
        border: none;
    }
    .two-col dl.forms dd {
        float: none;
        width: 49%;
        margin: 0 0 7px;
        padding: 0;
        border: none;
    }
}

.formRow {margin:0 0 8px 0;}
.formRow label {display:inline-block; margin:0 0 4px 0;}
.formRow input.text {width:210px; margin:0 0 7px 0;}
.formRow input.full {width:93%;}
.formRow .req, .formRow .fieldreq {padding:0 0 0 12px; background-position:0 2px;}
.formRow .error, .formRow .fieldred {padding:0 0 0 12px; background-position:0 2px;}

.forms fieldset {margin:0; border:0; padding:0;}
.formRow .formLabel {display:block; font-weight:normal;}

.formsColumn .formRow .formLabel {float:left; display:inline; width:110px; margin-right:10px;}

.multiCol .colWrap {float:left; display:inline;}
.multiCol2 .colWrap {width:48%;}
.multiCol .ratio35	{width:34%;}
.multiCol .ratio40	{width:39%;}
.multiCol .ratio60	{width:59%;}
.multiCol .ratio65	{width:64%;}


/* Members */
.accountLogin label {margin-bottom:5px;}

.currentAccount {margin-bottom:20px;}
.currentAccount .userName, .currentAccount .password, .currentAccount .saveLogin{width:216px;margin:10px auto 0 auto;}
.currentAccount .saveLogin {margin-bottom:15px;}
.currentAccount .accountDesc {float:left;}
.currentAccount .requiredAlertWrpr {padding-top:2px;}


.accountRegisterWrpr {margin-top:20px;}


.accountAddressWrpr {}
.accountRegisterDetailsWrpr {margin-bottom:15px;}
.accountRegisterAddressWrpr {margin-bottom:15px;}
.accountRegisterNewsletterWrpr {}
.accountRegisterNewsletterWrpr .emailFormat {padding-left:13px;padding-top:5px;margin-bottom:10px;}
.accountRegisterNewsletterWrpr .emailFormat label {margin-right:8px;}
.accountRegisterNewsletterWrpr .lists table{margin-left:6px;}
.accountRegisterNewsletterWrpr .salesUpdates {margin-bottom:15px;}


.accountLandingDetailsWrpr {margin-bottom:15px;}
.accountLandingDetailsWrpr .formRow .formLabel {}


.membersNewsletterRegWrpr .emailFormat{padding-left:12px;padding-top:5px;}
.membersNewsletterRegWrpr .lists {padding-left:10px;padding-top:5px;padding-bottom:5px;}
.membersNewsletterRegWrpr .lists table {padding-left:0px;margin-left:-3px;}
.membersNewsletterRegWrpr .formRow {margin-bottom:15px;}


/* login member tooltip classes */

.membershipToolTipWrpr {display:none; width:240px; left:745px !important;z-index:1000; color:#333;text-transform:none;}
.membershipToolTipShadow {background: url(/cms/images/core/memberTooltipbacktop.png) no-repeat top left;padding: 10px 13px 1px 13px; }
.membershipToolTopShadowBottom {background: url(/cms/images/core/memberTooltipbackbottom.png) no-repeat top left;width:240px;height:16px;}
.membershipToolTipWrpr h5 {font-size:14px; margin-bottom:6px;}
.membershipToolTipDate {font-size:11px; font-weight:bold;}
.membershipToolTipName {font-size:14px; font-weight:bold;margin-bottom:14px;}
.membershipToolLeftRailWrpr {float:left;width:69px;padding-right:5px;display:none;}
.membershipToolLeftRailWrpr img {border:1px solid #000;margin-bottom:5px;}
.membershipToolRightRailWrpr {}
.membershipToolRightRailWrpr .welcome{margin-bottom:5px;}
.membershipToolRightRailWrpr p{line-height:1.4em;}
.membershipToolTipWrpr .membershipLogout {position:absolute;bottom:16px;right:8px;}
.hdrwrpr a.memberHoverOn, .hdrwrpr a.memberHoverOn:link, .hdrwrpr a.memberHoverOn:visited {color:#fff; text-decoration:none;}
.hdrwrpr a.memberHoverOn:hover {color:#fff; text-decoration:none;}
.hdrwrpr a.memberHoverOn:active {color:#fff; text-decoration:none;}
.membershipToolTipWrpr a:hover {color:#000;}


.emailFormatLists label {font-weight:bold;}
.emailFormatLists em.form-req{font-weight:bold;margin: 0 4px 0 0px;}
.suContentSelection {margin-left:12px;}

/* Ollie's Army Styling */
.olliesArmy {position: relative; margin-bottom: 20px;}
.olliesArmy:before {
  position: absolute;
  left: 0px;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(35, 31, 32);
  z-index: -1;
  -webkit-transform: skewX(.5deg);
  -moz-transform: skewX(.5deg);
  -o-transform: skewX(.5deg);
  transform: skewX(.5deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.olliesArmy .armyHeader {background: url(/cms/images/layout/camo.png) repeat 0 0; /* background: #00AFE6; */ color: #fff; border: 4px solid #231f20;}
.olliesArmy .armyHeader h1 {
	/* background: #e4e2e3;  */
	margin: 0 0 10px; 
	font-size: 3em; 
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1em;
	padding: 30px 0 10px 0px;
}

.olliesArmy .armyHeader h1.FAQ {
	padding: 30px 0 10px 243px;
}

@media (max-width: 959px) {
	.olliesArmy .armyHeader h1.FAQ {padding: 30px 0 10px 0px; text-align:center;}
	.olliesArmy .armyHeader .content.grid_9.alpha {width:100%; text-align:center;}
}


.olliesArmy .armyHeaderTop {background: #e4e2e3; border-bottom:4px solid #000;}
/* @media (min-width: 60em) {
	.olliesArmy .armyHeader h1 {background:#e4e2e3 url(/cms/images/layout/recruiter.png) no-repeat 0 0;}
} */
.olliesArmy .armyHeaderTop .blockhdng2 {margin:0;}	

.olliesArmy .armyHeader h1 span {color: #231f20;}
.olliesArmy .armyHeader .hdrContent {position:relative;}
.olliesArmy .armyHeader .hdrContent:before {
    content:"";
    position:absolute;
    left:10px;
    top:5px;
    width:98%;
    height:16px;
    background:url(/cms/images/layout/stars-small-green.png) repeat-x 0 0;
}
.olliesArmy .armyHeader .hdrContent .content {font-size: 1.5em; padding-top: 1.5em; line-height:1.35em; letter-spacing:0.03em; font-family: 'Boogaloo', cursive;}
.olliesArmy .armyHeader .hdrContent > div img {margin-top: -7.5em;}

.olliesArmy .armyContent {
	background: #fff; 
	border: 4px solid #231f20; 
	padding: 20px;
	position:relative;
}
    .olliesArmy .armyContent .container { min-width: 15em; }
.olliesArmy .armyContent:after {
	position:absolute;
	content:"";
	height:37px;
	width:100%;
	top:-20px;
	left:0;
	background:url(/cms/images/layout/barb-wire.png) repeat-x 0 0;
}


.olliesArmy .armyContent .contactInfo {
	/* border-bottom: 1px solid #dcdcdc; */ 
	/* padding-bottom: 20px; 
	margin-bottom: 10px; */
	font-size: 1.4em;
}
.olliesArmy .armyContent .contactInfo h2 {margin: 0;}
.olliesArmy .formee-lbl, .olliesArmy .formee label { font-size: 18px !important; letter-spacing: 1px; color: #000; }

.armyAccount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (max-width: 767px) {
	.olliesArmy .armyContent .grid_4,
	.olliesArmy .armyContent .grid_8 {width: 100%; float: none; left: 0; right: 0;}	
}

.olliesArmy .blockhdng2 {background:#fff; text-transform:none; 
	font-size: 2em;
	letter-spacing: 2px;
	transform: rotate(-3deg);
	border: 2px solid #000; 
	padding: 3px 5px;
	/* margin: 20px 0 15px; */
	display:inline-block;
}
@media (max-width: 767px) {
	.olliesArmy .armyHeader .grid_4,
	.olliesArmy .armyHeader .grid_8, 
	.olliesArmy .top-hdrContent .grid_4,
	.olliesArmy .top-hdrContent .grid_8 {width: 100%; float: none; left: 0; right: 0;}	
	.olliesArmy .blockhdng2 {margin-bottom:0;}
}
@media (max-width: 479px) {
	.olliesArmy .blockhdng2 {margin-left:10px; margin-right:10px;}	
}	

.loginBlock { width: 100%; overflow-y: hidden; margin: 0 0 20px; padding: 0 10px; }
    

@media (min-width: 800px) {
    .loginBlock { width: 48%; margin: 0 0 10px; padding: 0; }
    .loginBlock:first-child { margin-right: 10px; }
}
@media (max-width: 799px) {
    .armyAccount.accountLogin .accountBlocks { min-height: auto !important; }
    .loginBlock:last-child { margin-bottom: 5px; }
}

.top-hdrContent {/* background: url(/cms/images/layout/camo.png) repeat 0 0; */ background: #00AFE6; border: 4px solid #231f20; margin: 0 -10px;}

.top-hdrContent .content {
	color:#fff;
	padding-top: 1em;
    font-size: 1.5em;
    line-height: 1.35em;
    letter-spacing: 0.03em;
    font-family: 'Boogaloo', cursive;
}

.top-hdrContent.armyHeader {
	background-color: #e4e2e3;
	background-image:url(/cms/images/layout/recruiter.png);
	background-repeat:no-repeat;
	background-position:0 0;
	padding-left:270px;
	padding-bottom:50px;
	position:relative;
}
.top-hdrContent.armyHeader .bottom-bkgd {
	position:absolute;
	width:100%;
	height:50px;
	left:0;
	bottom:0;
	background: url(/cms/images/layout/camo.png) repeat 0 0;
}
.top-hdrContent.armyHeader .bottom-bkgd:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 17px;
    width: 98%;
    height: 16px;
    background: url(/cms/images/layout/stars-small-green.png) repeat-x 0 0;
}

@media (max-width: 767px) {
	.top-hdrContent.armyHeader {background-image:none; padding-left:0;}
}

.accountLogin {text-align:center;}
.accountLogin .accountBlocks {
    display:inline-block;
    border:0;
    border-radius:10px;
    min-width:330px;
    max-width:100%;
    text-align:left; 
    background: #5F8E44;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodï¿½EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #5f8e44 0%, #436a2f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5F8E44), color-stop(100%,#436A2F));
    background: -webkit-linear-gradient(top, #5F8E44 0%,#436A2F 100%);
    background: -o-linear-gradient(top, #5f8e44 0%,#436a2f 100%);
    background: -ms-linear-gradient(top, #5f8e44 0%,#436a2f 100%);
    background: linear-gradient(to bottom, #5F8E44 0%,#436A2F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f8e44', endColorstr='#436a2f',GradientType=0 );
}
    .armyAccount.accountLogin .accountBlocks {
        height: 100%;
        border-radius: 0;
        /* background: #fff100; */
		/* background: #00AFE6; */
		background: #6f8c3a;
        display: block;
    }
    .armyAccount.accountLogin .accountBlocks p {color:#fff; font-size:18px;}
	.armyAccount.accountLogin .accountBlocks a.note {color:#000;}
	.armyAccount.accountLogin .accountBlocks em.formee-req {color:#ED1B24;}
	
	
.accountLogin label {color:#fff;}
.accountLogin h3 {
  margin: 0 0 10px;
  clear: both;
  font-family: 'Luckiest Guy', cursive;
  color: #FFF;
  text-shadow: 0 1px 1px #000;
}
.armyAccount input[type="checkbox"] { width: auto; margin: 6px 0 0; }
.armyAccount .smallText { font-size: 12px; border: 1px solid #000; margin: 0 0 15px; padding: 5px; }

@media (max-width:959px) {
	.olliesArmy .armyHeader h1 {padding-left: 20px; font-size:2.5em;}
    .olliesArmy .armyHeader > .grid_3 {display:none;}
	.olliesArmy .armyHeader .hdrContent {}
	.olliesArmy .armyHeader .hdrContent > div img {display: none}
	.olliesArmy .armyHeader .hdrContent .content {top: auto; padding: 35px 20px 0;}
	
	.top-hdrContent
	.olliesArmy .armyContent .contactInfo {font-size: 1.2em;}
	/* dl.forms dt {width: 100%; text-align: left;}
	dl.forms dd {width: 100%; padding: 5px 5px 5px 0;} */	
    .olliesArmy:before {width:auto; left:10px; right:10px;}
    .olliesArmy .armyContent h2 {font-size:1.5em; margin:10px 0;}
    .accountLogin .accountBlocks {min-width:0;}
	
	.olliesArmy .top-hdrContent .content {top: auto; padding: 35px 20px 0;}
}
@media (max-width:767px) {
	dl.forms dt {width: 100%; text-align: left;}
	dl.forms dd {width: 100%; padding: 5px 5px 5px 0;}
}
@media (max-width:1024px) {
     .olliesArmy:before {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
    }
}


#dialog-StoreLocator #msg2 {position:absolute !important; top:0 !important;}

@media (max-width:767px) {
	.contactInfo .forms .labelStyle br {display:none;}
	.sidebar .railNavHeading.mobile:after { display:none;}
}