/* Superfish reloaded
================================================
This is the default stylesheet for the store related elements. */


/*+clearfix {*/
ul.sf-menu:after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; }
ul.sf-menu { display:inline-block; }
ul.sf-menu {
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/


/*reset the menu*/
ul.sf-menu, ul.sf-menu * { margin: 0; padding: 0; list-style: none; }

/*[clearfix]*/
ul.sf-menu {
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}

ul.sf-menu { line-height: 1; }
ul.sf-menu li { float: left; position: relative; }

.navWrpr {
	padding: 4px 0 0px;
	background:#231f20;
}

/*set submenu li widths*/
ul.sf-menu ul li { width: 100%; }

/* ## first level ## */
ul.sf-menu a { 
	display: block;
	position: relative;
	padding: 0.2em 15px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #888888;
	line-height: 2em;
	background:#ccc;
	font-size:1.3em;
	font-family: 'Luckiest Guy', cursive;
}
ul.sf-menu ul li a { margin-right: 0; line-height:1em; }

/* ## 2nd level ## */
ul.sf-menu li ul {
	position: absolute;
	top: 0;
	display: none;
	padding:3px;
	visibility: hidden;
	top: 2.3em; /*top = top nav bar height*/
	width: 10em;
	left: 0;
	background:#fff;
	border:1px solid #ccc;
}
/*shows 2nd level / dropdown*/
ul.sf-menu li:hover ul,
ul.sf-menu li.sfHover ul {
	visibility: visible;
	display: inline-block;
	z-index: 99;
}

ul.sf-menu li ul li { padding:3px 0; border-bottom:1px solid #ccc; }

/* ## 3rd level ## */

/*hide 3rd level offscreen*/ 
ul.sf-menu li:hover ul ul,
ul.sf-menu li.sfHover ul ul { top: -999em; }

ul.sf-menu li ul li ul {
	left: 10em;
	display: none;
	visibility: hidden;
	top: 0em;
	left: 10em; /*left = 1st level width*/
	top: 0;
}

/*shows 3rd level*/ 
ul.sf-menu li ul li:hover > ul, ul.sf-menu li ul li.sfHover > ul { top: 0em; }

/*4th level*/
/*last level, just style, no superfish disclosure, just copy the above recipe to add more levels!*/
ul.sf-menu li ul li ul li ul { /*hide 4th level*/ top: -999em; }
ul.sf-menu li ul li ul li ul { left: 10em; }
ul.sf-menu li ul li ul li:hover ul,
ul.sf-menu li ul li ul li.sfHover ul { /*show 4th level*/ top: 0em; }

/*hover state / xpath*/
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus, 
.sf-menu a:hover, 
.sf-menu a:active { outline: 0; }

/*arrows*/
.sf-menu a.sf-with-ul { padding-right: 2.25em; min-width: 1px; /*trigger ie7 haslayout so spans position accurately*/ }
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: 0.60em;
	top: 0.75em;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.sf-sub-indicator:after {
    position:absolute;
    right:0;
    top:0;
	font-family: 'icomoon';
	speak: none;
    content: "\25be";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.sf-menu li.sfHover .sf-sub-indicator { }

/*submenu arrows right*/
ul.sf-menu li.sfHover ul li .sf-sub-indicator { top:.5em; background-position: 0px 0px; }
.sf-menu li.sfHover li.sfHover .sf-sub-indicator { background-position: -10px 0px; }
.sf-menu ul .sf-sub-indicator { background-position: -10px 0; }


/* ## Main Navigation Theme ## */

	.mainNav {float: left; margin:0 20px 0 15px;}
	.mainNav .sf-menu a { 
		background:none; border:0; 
		 -webkit-transition: all 0.2s ease-out;
		  -moz-transition: all 0.2s ease-out;
		  -o-transition: all 0.2s ease-out;
		  transition: all 0.2s ease-out;
		  position: relative;
		  text-transform: uppercase;
		  letter-spacing: 1px;
	}
	.mainNav .sf-menu > li a:before,
	.mainNav .sf-menu > li a:after {
		content: "";
		background: #ed1c24;
		display: inline-block;
		border-radius: 8px;
		width: 3px;
		height: 3px;
		position: absolute;
		top: 45%;
		left: 0;
	}
	.mainNav .sf-menu > li a:after {
		left: auto;
		right: -4px;
	}
	
	.mainNav .sf-menu li a:hover,
	.mainNav .sf-menu li.sfHover > a { color: #fff101;}



	.mainNav .menuLink { display:none; }
	.mainNav .sf-menu .mobileNav { display:none; }
    
    
    

/* Mobile Navigation */
/* 16px baseline (767px) */
@media only screen and (max-width:59.938em) {
	.navWrpr {text-align: center;}
	.mainNav {height:auto; margin: 0; float: left;}

	.no-js .menuLink { display: none;}
		
	.menuLink {
		display:inline-block !important;
        padding:0;
        color:#fff;
		font-size: 1.5em;
        background:none;
        cursor:pointer;
        z-index: 1000;
        position: relative;
		height: 36px;
		width: 37px;
	}
	.menuLink:before {position: absolute; top: 0; left: 0; font-size: 1.5em; font-weight: bold;}

	.menuLink:hover,
	.menuLink:focus { color: #fff; text-decoration: none; }

	.mainNav ul { display: none;}
	.mainNav ul ul {
		position: relative !important;
		top: auto !important;
		left: auto !important;
		width: auto !important;
		height: auto !important;
		display: none !important;
	}
	.mainNav ul li.active > ul,
	.mobile-landing .mainNav > ul,
	.no-js .mainNav > ul {display: block !important; visibility: visible !important;}

	.mainNav.active > ul { display: block}

	.sf-sub-indicator { 
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width: 50px;
        border-left:2px solid #fff;
	}

    .sf-sub-indicator:after {
        position:absolute;
        right:50%;
        top:50%;
        margin:-10px -10px 0 0;
	    font-family: 'icomoon';
	    speak: none;
        content: "\2b";
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
    }

	.mainNav ul.sf-menu li { display: block; float: none; margin: 10px 0; }
		
	.mainNav li a {
        display:block;
        padding:5px 10px;
        color:#fff;
        font-size:1.250em;
	}
	.mainNav .sf-menu > li a:before, .mainNav .sf-menu > li a:after {background: none;}
	.mainNav li a:hover, 
	.mainNav li a:focus { text-decoration:none; background:#7a7a7a !important; }

    .mainNav ul ul { padding:0 5px; }
    .mainNav ul ul li { margin:0 !important; padding:0 !important; }
    .mainNav ul ul li:last-child { border:0; }
	.mainNav ul ul li a { margin:5px 0; padding:7px !important; font-size:1.250em; background:none !important; }
	.mainNav ul ul li a:hover,
	.mainNav ul ul li a:focus { background: #4c4d4f; }


    /* forces display of menu */
    .mainNav .showMenu {
        display: block !important;
        visibility:visible !important;
        position: absolute;
        z-index: 1000;
        top: 100%;
        width: 100%;
        background: #231F20;
		border-top: 1px solid #FFF;
    }

    /* forces display of sub menu */
    .mainNav .showSub .sf-sub-indicator:after {
        content: "\2d";
    } 
    .mainNav .showSub > ul {
        display: block !important;
        visibility:visible !important;
    }
    .mainNav .sf-menu .mobileNav { display:block; }
    
   

}


@media (min-width:963px) and (max-width:1367px) 
{
    
    
}

@media (min-width:1367px) {
    
}
/* Ticket #642699 - Store Departments new navaigation section */
@media only screen and (min-width: 960px) {
	.navWrpr .grid_12 {
		display: flex;
	}

		.navWrpr .grid_12 #focusNav {
			display: flex;
			justify-content:space-between;
		}

			.navWrpr .grid_12 #focusNav .currentFlyer {
				max-width: 180px;
			}

	.navWrpr .grid_12 {
		display: flex;
	}

		.navWrpr .grid_12 .mainNav {
			width: auto;
			display: flex;
		}

		.navWrpr .grid_12 .siteSearch .formee label {
			text-align: center;
			width: 60px;
		}

	.mainNav ul.sf-menu {
		display: flex !important;
		align-items: center;
		flex-wrap: nowrap;
	}

		.mainNav ul.sf-menu li {
			width: initial;
		}
			.mainNav ul.sf-menu li:nth-child(2) {
				width: 80px;
			}

			.mainNav ul.sf-menu li:nth-child(3) {
				width: 90px;
			}

			.mainNav ul.sf-menu li:nth-child(4) {
				width: 95px;
			}

			.mainNav ul.sf-menu li:nth-child(5) {
				width: 100px;
			}

			.mainNav ul.sf-menu li:nth-child(6) {
				width: 85px;
			}

			.mainNav ul.sf-menu li a {
				font-size: 1em !important;
				padding: 4px 10px 0 !important;
				width: auto;
			}
}