/* News Module Styles */
.newsModuleWrpr {background:#fff; border: 4px solid #231F20; padding:10px 0 20px;}
.newsModuleWrpr .paging {float:none;}
.newsModuleWrpr .item .aside { min-width:100px; }
.newsDetail {background:#fff; border: 4px solid #231F20; padding:10px 20px 20px;}

.newsFilterLeftWrpr {width:55%;float:left;}
.newsFilterRightWrpr {float:right;width:40%;text-align:right;}
.newsFilterMonthWrpr {float:left;margin-right:12px;margin-bottom:5px;}
.newsFilterMonth {width: 85px;}
.newsFilterYearWrpr {float:left;margin-right:12px;margin-bottom:5px;}
.newsFilterYear {width: 85px;}
.newsFilterCatWrpr {float:left;}
.newsFilterCat {width: 185px;}
.newsFilterSearchBtn {float:right;margin-left:15px;}
.newsFilterSearchType {padding-top:3px;float:right;}
.newsPhotoRight {float:right;margin: 15px 0px 15px 15px;}

.newsItemsWrpr {padding:0px 0px 20px 0px;}
.newsItemWrpr {padding:0px 0px 25px 0px;}
.newsItemWrpr .newsItemPhoto {float:left; display:inline; margin:0 0 12px 0;}

.newsItemWrpr .newsItemImg {float: left;padding-left: 12px;margin-top: 00px;margin-right:20px;}
.newsItemWrpr .newsItemImg img{width:70px;height:60px;}
.newsItemWrpr .newsItemDescr {}
.newsItemWrpr .newsItemDescr p {padding:0 0px;}
.newsItemWrpr .newsItemDescr h2 {font-size:13px;font-family:arial;margin:0px;padding:0px;}
.newsItemWrpr .newsItemDescr h2 a{font-size: 13px;color: #7AAFDF;font-weight: bold;text-decoration: none;}
.newsItemWrpr .moreLink {text-align:right;color: #7AAFDF;text-decoration: none;font: bold 11px Arial;}

.newsSummaryWrpr {}
.newsSummaryWrpr .mod {background:none;}
.newsSummaryWrpr h2 { color: #394A43; letter-spacing: 2px; margin: 0px 0px 10px; padding: 0px 0px 6px; font: bold 11px Georgia; text-transform: uppercase; border-bottom: 1px solid #D6CEAD; }
.newsSummaryBackgroundWrpr {}
.newsSummaryImage {float:left;}
.newsSummaryDesc { border-bottom: 1px dotted #BAC9C2; margin: 0px 0px 10px; padding: 0px 0px 10px; font-size:12px;}
.newsSummaryViewAll {text-align:right;}

.newsWidget {position: relative; margin: 70px auto 40px; max-width: 455px;}
.newsWidget:before {
	content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -15px;
  right: -4px;
  height: 100%;
  border-radius: 8px;
  background: #231F20;
  z-index: -1;
  -webkit-transform: skewX(1deg);
  -moz-transform: skewX(1deg);
  -o-transform: skewX(1deg);
  transform: skewX(1deg);
}
.newsWidget .inner {
	background: #fff; 
	border: 3px solid #231F20; 
	border-radius: 10px;
    padding-top:10px;
}
.newsWidget .hdng {
	position: relative;
	margin: 0;
	padding: 0 20px;
	background: none;
	font-size: 3em;
	line-height: 1;
	color: #000;
}
.newsWidget .hdng img {
	position: absolute;
	top: -125%;
	right: -8%;
    z-index:100;
}
.newsWidget .newsItems {
	position: static;
	width: auto;
	margin: 0 10px 10px;
	border: 3px solid #231F20; 
	border-radius: 10px;
}
.newsWidget .newsItems .item {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
}
.newsWidget .newsItems .owl-item {position:relative;}
.newsWidget .newsItems .item img {width: 100%;}
.newsWidget .newsItems .item .title {
	position: absolute;
    left:0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	background: #231f20;
	font-family: 'Boogaloo', cursive;
	font-size: 2.7em;	
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.newsWidget .newsItems .owl-controls {
	top: auto;
	bottom: -10px;
	left: 0;
	height: auto;
}
.newsWidget .newsItems .owl-controls .owl-page {
	float: left;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}
.newsWidget .newsItems .owl-controls .owl-page.active {
	background: #ee1c25;
}
.newsWidget .more {padding: 0 20px 10px; line-height:1; position:relative; z-index:1000;}
.newsWidget .more a {
	font-size: 1.7em;
	color: #ee1c25;
}

.newsOverview .title {margin-bottom:10px;}
.newsOverview p {margin-bottom:5px;}