/* ##  Left Nav  ## */
.sidebar { margin-bottom: 15px; }
.railNavWrapper {
	margin-bottom: 20px;
}
  .sidebar .railNavWrapper { margin: 0; }
.railNavHeading { 
	background: rgb(228, 226, 226);
	padding: 10px 0 10px 20px;
	font-family: 'Luckiest Guy', cursive;
	font-weight: normal;
	color: #ee1c25;
	font-size: 1.5em;
	margin-bottom: 5px;
}
  .sidebar .railNavHeading {
      font-size: 16px;
      margin: 10px 0 0;
      padding: 0;
      display: none;
      background: none;
  }
  .sidebar .railNavHeading.mobile {
      width: 100%;
      margin: 10px 0 0;
      display: block;
      position: relative;
      border: none;
      border-radius: 0;
      border: 2px solid transparent;
  }
    .sidebar .railNavHeading.mobile:after {
      content: " ";
      width: 15px;
      height: 15px;
      top: 1px;
      right: 10%;
      bottom: 0;
      margin: auto;
      position: absolute;
      border-right: 5px solid #ED1B24;
      border-bottom: 5px solid #ED1B24;
    }
  .sidebar .railNavHeading.mobile[aria-expanded="false"] {
    border: none;
    border-bottom: 2px solid #000;
  }
    .sidebar .railNavHeading.mobile[aria-expanded="false"]:after {
      content: " ";
      transform: rotate(-45deg);
      transition: all .2s ease-in-out;
    }
  .sidebar .railNavHeading.mobile[aria-expanded="true"] {
    border: none;
  }
    .sidebar .railNavHeading.mobile[aria-expanded="true"]:after {
      content: " ";
      transform: rotate(45deg);
      transition: all .2s ease-in-out;
      top: -5px;
    }
  .sidebar .railNavHeading.mobile:focus, .sidebar .railNavHeading.mobile:hover {
    background: #ED1B24;
    border-color: #ED1B24;
    border-radius: 3px;
  }
    .sidebar .railNavHeading.mobile:focus h2, .sidebar .railNavHeading.mobile:hover h2 { color: #fff; }
    .sidebar .railNavHeading.mobile:hover:after, .sidebar .railNavHeading.mobile:focus:after {
      content: " ";
      border-color: #fff;
      transition: all .2s ease-in-out;
    }

.railNavHeading span.trigger {display:none;}
.railNavHeading a,
.railNavHeading a:link,
.railNavHeading a:visited {color:#fff; text-decoration:none; font-weight:normal;}
.railNavHeading a:hover, 
.railNavHeading a:active {color:#fff; text-decoration:underline; font-weight:normal;}
  .railNavHeading .title { font-size: 2em; margin: 0 0 20px; }

.sidebar .railNavContent { display: none; border-bottom: 2px solid transparent; }
  .sidebar .railNavContent[aria-hidden="false"] {
    margin: 0 0 15px;
    transition: all .2s ease-in-out;
    border-color: #000;
  }

@media (min-width: 420px) {
  .sidebar .railNavHeading.mobile:after { right: 20%; }
}

@media (min-width: 620px) {
  .sidebar .railNavHeading.mobile:after { right: 31%; }
}

@media (min-width: 768px) {
  .sidebar .railNavHeading { display: block; }
  .sidebar .railNavHeading.mobile { display: none; }
  .sidebar .railNavContent { display: block !important; }
  .sidebar .railNavContent[aria-hidden="false"] { border: none; }
}

.railNav {margin:0 0 10px 0; padding:0; font-family: 'Boogaloo', cursive; font-size: 1.5em; font-weight:bold; color:#036; list-style-type:none;}
ul.railNav li {padding: 2px 0;}
ul.railNav a, 
ul.railNav a:link, 
ul.railNav a:visited {display:block; padding:0 20px; font-weight:normal; text-decoration:none;font-family:inherit; position: relative; word-break:break-word;}
ul.railNav a:hover,
ul.railNav a:focus, 
ul.railNav a:active,
ul.railNav a.on {color: #EE1C25;}
ul.railNav a.active, 
ul.railNav a.active:link, 
ul.railNav a.active:visited {font-weight:bold;}
ul.railNav a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\2c";
  font-size: .7em;
  position: relative;
  top: 2px;
  right: -4px;
}

ul.railNav a.my-offers, 
ul.railNav a.my-offers:link, 
ul.railNav a.my-offers:visited {text-shadow: 2px 2px 1px rgba(150, 150, 150, .75); letter-spacing: 1px}

ul.railNav ul  {margin:4px 0 0 10px; padding:0; list-style-type:none;}
ul.railNav ul li {}
ul.railNav ul a, 
ul.railNav ul a:link, 
ul.railNav ul a:visited {}
ul.railNav ul a:hover, 
ul.railNav ul a:active {text-decoration:underline;}

/* legacy left rail code
.lnavwrpr { margin:0 10px 30px 10px; font-size:1.1em; line-height:1.2em; }
.lnvgrphdg { margin:15px 0 8px 0; font-size:1.2em; font-weight:bold; }
.lnav { margin:0 0 20px 4px; padding:0; list-style-type:none; }
.lnav a, .lnav a:visited { display:block; padding:6px; text-decoration:none; }
.lnav a.on, .lnav a:hover, .lnav a:focus, .lnav a:active { text-decoration:none; background-color:none; color:#ccc; }
.lnav li { border-bottom:1px dotted #fff; }
.lnav ul  {margin:4px 0 10px 10px; padding:0; list-style-type:none;}
.lnav ul a, .lnav ul a:visited {display:block; padding:0 0 0 7px; text-decoration:none; }
.lnav ul a:hover, .lnav a:focus, .lnav ul a:active { color:#ccc; background:transparent url(/cms/images/lnav-li.gif) no-repeat 0% 50%; }
.lnav ul li { padding:3px 0; border:none; }
*/