/* Default Store Styles
================================================
This is the default stylesheet for the store related elements. */


/* ## General Store Styles ## */
.imgLabel {background-repeat:no-repeat; background-position:0 0; text-indent:-9999em;}
.sale {color:#ea0000; font-weight:bold;}
.regular {color:#000; font-weight:bold;}


/* ## Header Links cart addition ## */
.headerLinks a.cartLink, .headerLinks a.cartLink:link, .headerLinks a.cartLink:visited {margin-left:5px;}


/* ##block modules used for "grid" of layout ## */
/* LEGACY CODE TO BE REMOVED */
.block175, .block320, .block323, .block432, .block438, .block502, .block630, .block765 {float:left; display:inline;}
.block175 {width:175px;}
.block320 {width:320px;}
.block323 {width:323px;}
.block432 {width:432px;}
.block438 {width:438px;}
.block502 {width:502px;}
.block630 {width:630px;}
.block765 {width:765px;}

.marginB10 	{ margin-bottom:10px; }
.marginR5 	{ margin-right:5px; }
.marginR10 	{ margin-right:10px; }

.pad10	{padding:10px;}
.padS10	{padding-left:10px; padding-right:10px;}
.padL10	{padding-left:10px;}
.padT5	{padding-top:5px;}
.padT10	{padding-top:10px;}
.padB5	{padding-bottom:5px;}



/* ## Shop By  Menu Theme ## */

.shopBy {position:relative; height:3p0px; padding:0 10px 0 21px; margin-bottom:4px; z-index:110;}
.shopBy .imgLabel {float:left;}

.shopBy .sf-menu {float:left;}
.shopBy .sf-menu a,
.shopBy .sf-menu a:link,
.shopBy .sf-menu a:visited {height:30px; color:#13a; text-decoration:none; text-indent:-9999em;}

.shopBy .sf-menu li {}
.shopBy .sf-menu li ul {background-color:#fff; border:1px solid #c7c7c7;}
.shopBy .sf-menu li li {background-color:#fff;}
.shopBy .sf-menu li li li {}

.shopBy .sf-menu li li a,
.shopBy .sf-menu li li a:link,
.shopBy .sf-menu li li a:visited {height:auto; padding:5px 10px; text-indent:0; background:url(/cms/images/layout/arrow_right_blue.gif) no-repeat 2px -999px;}	
.shopBy .sf-menu li.sfHover a {background-position:0 -30px;}
.shopBy .sf-menu li li a:hover,
.shopBy .sf-menu li li a:active {background-position:3px 8px;}

.shopBy .sf-menu li:hover,
.shopBy .sf-menu li.sfHover,
.shopBy .sf-menu a:focus,
.shopBy .sf-menu a:hover,
.shopBy .sf-menu a:active {outline:0;}


/* Site Defaults */

.hdng {
	background: rgb(228, 226, 226);
	padding: 10px 0;
	font-family: 'Luckiest Guy', cursive;
	font-weight: normal;
	color: rgb(238, 28, 37);
	font-size: 1.5em;
	margin-bottom: 5px;
}
.hdng2 {margin:0; padding:0; font-size:1.2em; font-weight:bold; background:none;}
.hdng3 {margin:0 0 5px 0; font-size:1.8em; font-weight:normal; }
.imghdng {margin:5px 0; background-position:0 0; background-repeat:no-repeat; text-indent:-9999em;}
.hdngbox {margin:0; padding:3px 10px; font-size:16px; font-weight:bold; color:#fff; background-color:#999;}


/* ## Store Buttons ## */
.btnAddToCart {}
.btnAddToCart .btn{}

.btnWishlist {background:transparent;}
.btnWishlist .btn{padding:1px 2px; font-size:14px; font-weight:normal; color:#000; background:transparent; border:0; text-align:center; text-decoration:none; cursor:pointer;}

.btnContinueShopping {background-color:#005e8f;}
.btnContinueShopping .btn{width:172px; padding:3px 2px; font-size:16px; font-weight:normal; color:#fff; background-color:#407abc; border:1px solid #97b3cd; text-align:center; text-decoration:none; cursor:pointer;}

.hline {width:100%; margin:20px 0; border-bottom:1px solid #D2D2D2;}
.mainContent .pageHeading {margin:0 -10px 10px;}
	.mainContent .pageHeading.signupHeading {
		width: 99%;
		margin: 10px auto 5px;
		background: #e4e2e2;
	}
.pageHeading {
	background: #e4e2e2;
	border: 4px solid rgb(35, 31, 32);
	padding: 20px;
	font-family: 'Luckiest Guy', cursive;
	font-weight: normal;
}
.pageHeading h1 {
	color: rgb(238, 28, 37);
	text-transform: uppercase;
	margin: 0;
	font-size: 4em;
}
	.pageHeading h1.headingItem { color: #000; }
.pageHeading a {color: #231f20; position: relative;}
.pageHeading a:before {content: "\2b"; display: inline-block; margin-right: 5px;}

.pageHeading {background-color: #e4e2e2;}
.about .siteContent:before {
	left: 10px; 
	top: 10px; 
	bottom: auto; 
	-webkit-transform: skewX(3deg);
	-moz-transform: skewX(3deg);
	-o-transform: skewX(3deg);
	transform: skewX(3deg);
}
.dealsHdng {background:#e4e2e2 url(/cms/images/layout/savings.png) no-repeat 90% 5px;}

.dealsList .desc {font-size: 1.5em;}
.dealsList .deal {margin: 10px 0;}
.dealsList h2 {
	font-size: 2em;
	text-align: left;
    margin:0;
}
.dealsList .deal .btn {font-size: 1.3em; padding: 10px 20px;}
.dealsList .deal .btn:after {content: "\2c"; display:inline-block; margin-left: 5px;}
.deal h3 {font-size: 2em; margin: .5em 0;}
.deal .dealImg img {border: 3px solid #231f20;}


/* ## text field styles ## */

input.text, textarea.text {padding:6px 4px; border:1px solid #969696; border-right:1px solid #efefef; border-bottom:1px solid #efefef;}
.blur {color:#ccc;}
select {padding:1px; border:1px solid #969696; border-right:1px solid #efefef; border-bottom:1px solid #efefef;}
	

/* ## interior styles ## */

.deptImage { margin-bottom:7px; overflow:hidden; }
.deptImage img {display:block;}

.pageControl {float:right; text-align:right; color:#b0b0b0;}
.pageControl a,
.pageControl a:link,
.pageControl a:visited {text-decoration:none;}
.pageControl a:hover,
.pageControl a:active {text-decoration:underline;}
.pageControl a.prev,
.pageControl a.prev:link,
.pageControl a.prev:visited {margin:0 5px 0 0; padding-left:10px; background:url(/cms/images/layout/arrow_left_blue.gif) no-repeat 0 4px;}
.pageControl a.next,
.pageControl a.next:link,
.pageControl a.next:visited {margin:0 0 0 5px; padding-right:10px; background:url(/cms/images/layout/arrow_right_blue.gif) no-repeat 100% 4px;}


/* item list */

.productList { margin:0 -10px; padding:0; }
.productList .itemWrapper {position:relative; margin:0 0 20px; overflow:hidden;}
.productList .last { }

.itemWrapper a.itemLink,
.itemWrapper a.itemLink:link,
.itemWrapper a.itemLink:visited {display:block; text-decoration:none;}

.itemWrapper .itemImage {display:block; margin:0 auto 10px auto; padding:0;}
.itemWrapper .itemContent {padding:0 5px;}
.itemWrapper .itemTitle {display:block; margin:0 0 3px 0; font-size:1.1em; font-weight:bold;word-break: break-all; padding: 0 15px;}
.itemWrapper .itemTitle a, .itemWrapper .itemTitle a:link, .itemWrapper .itemTitle a:visited {text-decoration:none;}
.itemWrapper .itemSku {display:block; margin-bottom:10px; font-size:.9em; color:#999999;}
.itemWrapper .itemDesc {}
.itemWrapper .itemPrice { font-size:1.1em; }

.itemWrapper .itemCallouts {margin:0; text-align:center;}
.itemWrapper .itemCO {padding:3px 5px;}

.itemWrapper .reviewItem {margin:0 0 8px 0; padding:0; border:0;}
.itemWrapper .reviewItem .imgLabel {float:left; display:inline; margin-right:10px;}

.departmentList .itemTitle {text-align:center;}

.itemSwatches {margin-bottom:7px; padding:0;}
.itemSwatches .swatchTitle { font-size:0.8em; }
.itemSwatches ul.swatchList li {margin:0 3px 3px 0;}
.itemSwatches ul.swatchList li.last {margin-right:0;}

.featuredSolutions address.itemTitle {font-size: .85em}

ul.swatchList {margin:0; padding:0; list-style-type:none;}
ul.swatchList li {float:left; display:inline; margin:0 5px 5px 0;}
ul.swatchList li.last {margin-right:0;}
ul.swatchList .swatchAlt {display:none;}

ul.swatchList li img {display:block; margin:-1px;}
ul.swatchList li a,
ul.swatchList li a:link,
ul.swatchList li a:visited {float:left; display:inline; border:1px solid #ACADB2; overflow:hidden;}
ul.swatchList li a:hover,
ul.swatchList li a:active {}

ul.swatchList li a.active,
ul.swatchList li a.active:link,
ul.swatchList li a.active:visited {border:1px solid #fc4c47;}
ul.swatchList li a.active img,
ul.swatchList li a.active:link img,
ul.swatchList li a.active:visited img {}

ul.textLink {margin:0; padding:0; list-style-type:none;}
ul.textLink li {float:left; display:inline; margin:0 5px 0 0;}

ul.textLink li a,
ul.textLink li a:link,
ul.textLink li a:visited {display:block; width:18px; height:13px; border:1px solid #cccccc; overflow:hidden;}
ul.textLink li a:hover,
ul.textLink li a:active {border-color:#000;}

ul.textLink li a.active,
ul.textLink li a.active:link,
ul.textLink li a.active:visited {border-color:#000;}

.enlargeSwatch {display:none;}

.productDetails ul.textLink li a,
.productDetails ul.textLink li a:link,
.productDetails ul.textLink li a:visited, 
.productDetails ul.textLink li a.disabled {
	display:block;
	width:auto;
	height:26px; 
	margin-bottom:5px; 
	padding:1px 3px; 
	text-decoration:none; 
	line-height:25px; 
	text-align:center; 
	font-weight:bold;
	background:#f6f6f6;
	border:2px solid #d9d9d9; 
	overflow:hidden;
}
.productDetails ul.textLink li a.disabled {background:#ddd;border:2px solid #fff;color:#fff;}
.productDetails ul.textLink li a.disabled:hover {cursor:default;background:#ddd;}

.productDetails ul.textLink li a.active,
.productDetails ul.textLink li a.active:link,
.productDetails ul.textLink li a.active:visited {border-color:#000;background:#fff;}

.productDetails ul.textLink li a:hover,
.productDetails ul.textLink li a:active {background:#f9f9f9;}

.productDetails div.radioList label {margin-right:7px;}

.productDetails .itemSku {margin-bottom:5px; color:#999999;}
.productDetails .reviewItem {padding:0; margin-bottom:10px; border:0;}
.productDetails .itemDesc {} /*placeholder class*/

.detailsRow {margin-bottom:15px;}
.detailsRow select, .detailsRow .text {display:block; margin-bottom:5px;}
.detailsRow .note {width:60%; font-size:.9em; color:#666;}
.detailsRow .itemCallouts {margin:0; text-align:left;}
.detailsRow .itemCO {padding:3px 5px;}

.rowLabel {display:block; margin-bottom:3px; font-weight:bold; }
.rowLabel .selectedName {font-weight:normal; color:#666666;}

.itemPrice {font-weight:bold; font-size:1.2em; }

.productImage {position:relative; margin-bottom:10px; border:1px solid #d2d2d2; text-align:center;}
.productImage img.mainImage {display:block; width:100%}
.productImage .btnEnlarge {position:absolute; bottom:0; right:0; cursor:pointer;}

ul.altViews {margin:0; padding:0; list-style-type:none;}
ul.altViews li {float:left; display:inline; margin:0 4px 4px 0;}
ul.altViews li.last {margin-right:0;}
ul.altViews li img {border:1px solid #d2d2d2;}
ul.altViews li .active img {border:1px solid #000;}


/* banners */

.banners {margin-top:10px; margin-bottom:10px;}
.banners .bnrBlock {float:left; display:inline; margin-right:10px;}
.banners .last {margin-right:0;}


/* Carousels */
.carousel {margin:0 0 20px 0; position:relative;}
.scrollable {position:relative; overflow:hidden; margin:0 23px;}

.scrollable .itemList {	margin:0; }
.scrollable .items {	
	/* this cannot be too large */
	width:20000em;	
	position:absolute;
	clear:both;		
}

.scrollable .items .itemWrapper {float:left; width:174px; padding:0; margin:0 5px 0 0;}

	/* prev, next, prevPage and nextPage buttons */
.carousel a.prev,
.carousel a.next,
.carousel a.prevPage,
.carousel a.nextPage {position:absolute; display:block; width:22px; height:45px; top:0; cursor:pointer;}

.carousel a.prev,
.carousel a.prevPage {left:0; background:url(/cms/images/layout/ui/carousel_left.gif) no-repeat 50% 0;}
.carousel a.next,
.carousel a.nextPage {right:0; background:url(/cms/images/layout/ui/carousel_right.gif) no-repeat 50% 0;}

	/* mouseover state */
.carousel a.prev:hover,
.carousel a.next:hover,
.carousel a.prevPage:hover,
.carousel a.nextPage:hover {background-position:50% -45px;}

	/* disabled navigational button */
.carousel a.disabled,
.carousel a.disabled:link,
.carousel a.disabled:visited,
.carousel a.disabled:hover,
.carousel a.disabled:active {background-position:50% -90px; cursor:default;}

	/* carousel navi */
.carousel .navi {margin-left:22px; width:200px; height:20px;}
.carousel .navi a, .carousel .navi a:link, .carousel .navi a:visited {width:8px; height:8px; float:left; margin:3px; background:url(/cms/images/layout/ui/carousel_navigator.png) 0 0 no-repeat; cursor:pointer; overflow:hidden;}
.carousel .navi a:hover, .carousel .navi a:hover:active {background-position:0 -8px;}
.carousel .navi a.active, .carousel .navi a.active:link, .carousel .navi a.active:visited {background-position:0 -16px;} 	

/* END carousels */




/* dialog windows */

.uiModal {display:none;}

.recentDialog .recentlyViewed {border-bottom:1px solid #e5e5e5;}
.recentDialog .itemWrapper {float:left; display:inline; width:215px; padding:0 10px 0 0; margin-bottom:20px;}
.recentDialog .itemWrapper a.itemLink,
.recentDialog .itemWrapper a.itemLink:link,
.recentDialog .itemWrapper a.itemLink:visited {float:left; display:inline; width:103px; margin-right:5px;}

.recentDialog .itemWrapper .itemImage {padding:0; border:1px solid #d2d2d2;}
.recentDialog .itemWrapper .itemDetails {float:left; display:inline; width:105px;}

.recentDialog .itemWrapper .itemTitle a,
.recentDialog .itemWrapper .itemTitle a:link,
.recentDialog .itemWrapper .itemTitle a:visited {color:#000;}
.recentDialog .itemWrapper .itemSku {margin-bottom:5px;}
.recentDialog .itemWrapper .itemPrice {font-size:1em; font-weight:normal; color:#000;}

.imageViewer .mainImage {float:left; display:inline; width:585px;}
.imageViewer .mainImage img {border:1px solid #d2d2d2;}
.imageViewer .thumbnails {float:left; width:103px;}


/* Item added to cart */
#item-dialog 
{
	display:none;
	background:#fff;
	border:solid 2px #005e8f;
	position:absolute;
	top:176px;
	left:626px;
	width:320px;
	z-index:5000;
}
.hdng-item-dialog
{
	padding:6px 0;
	text-align:center;
	font-size:1.4em;
	background-color:#ecf1f8;
	border-bottom:solid 1px #ccd1d8;
}
.item-dialog-content 
{
	padding:6px 0 8px 0;
	margin:0 12px;
}
.item-dialog-details 
{
	color:#444;
}




/* Error Markers */

.fieldlbl {padding:4px 2px 0 0; text-align:right;}
.field {padding-left:2px;}
.fieldpad {padding-bottom:2px;}
.fieldtext {color:#000000;}
.fielderror {color:#f00;}
.fieldnorm {width:16px; height:20px;}
.req, .fieldreq {padding-right:12px; background:transparent url(/cms/images/global/field-req.gif) no-repeat 100% 2px;}
.error, .fieldred {padding-right:12px; color:#f00; background:transparent url(/cms/images/global/field-error.gif) no-repeat 100% 2px;}
.errorMessage {margin:0 0 25px 0; text-align:left; background-color:#FCD5D5; border:1px solid #ff0000 ;}
.help {font-size:.9em; color: #666;}

.formee .req, .formee .fieldreq {
    padding-left: 12px;
    padding-right: 0;
    background-position: 0 2px;
}

.errorWrap {}
.errorWrap input, .errorWrap select {color: #881414; background: none repeat scroll 0 0 #FCD5D5; border-color: #881414;}

.shipmethod {position:relative; display:inline-block;}
.shipalert {position:absolute; right:-198px; top:0; padding:7px 20px 7px 7px; width:160px; border:solid 1px #9baab7; background:#E0E0E0;}
.shipalert .arrowTab {position:absolute; top:-1px; left:-9px; width:8px; height:9px; background:url(/cms/images/layout/arrow_left_gray.gif) no-repeat 0 0;}
.shipalert .close {position:absolute; top:2px; right:2px; width:13px; height:13px; background:url(/cms/images/layout/icon_x.gif) no-repeat 0 0; text-indent:-9999em;}

/* sub-mini cart */
.subCart {margin-bottom:20px;}
.subCart th {background:transparent;}

/* checkout process */
ul.processSteps {margin:0; padding:0; list-style-type:none;}
ul.processSteps li {float:left; display:inline; padding:5px 7px; margin:0 3px 10px 0;}
ul.processSteps li.active {background-color:#2F679B; color:#fff; border:1px solid #2F679B;}
ul.processSteps li.prevStep {background:#E0E0E0;}
ul.processSteps li.prevStep a,
ul.processSteps li.prevStep a:link,
ul.processSteps li.prevStep a:visited {color:#666;}

.userMessage {width:46%; padding:10px 15px; margin-bottom:10px; background:#E0E0E0; border:1px solid #c7c7c7;}

/* send to friend */
.friendPopup {width:660px; padding:10px; margin:0 auto;}
.friendPopup dl.forms dt {width:90px;}

/* Limit Textbox */
.txtlimitbx {background-color:#1c4e87;}
.txtlimitbx2 {background-color:#a8c6e0;}

/* faq */
ul.faqLinks {margin:5px 0 10px 15px; padding:0; list-style-type:none;}
ul.faqLinks li {padding-bottom:5px;}
dl.faqList {}
dl.faqList dt {font-weight:bold; margin-bottom:3px;}
dl.faqList dd {position:relative; padding-left:20px; margin:0 0 7px 0;}
dl.faqList .answerLabel {position:absolute; top:0; left:0; font-weight:bold;}

/* Edit Customer Order */
.eco {float:right;padding:5px;border:solid 1px #000;background:#fff;margin:5px;position:relative;z-index:1000; color:#f00;line-height:1.5em;}
.eco a {color:#f00;font-weight:bold;}

/* dropcart */
.dropCart {margin:0 auto; display:none;}
.dropCartHeader {padding:5px; font-weight:bold; font-size:12px; background:#D9D9D9; color:#333;}
.dropCartHeader .closebtn {float:right; display:inline; width:24px; height:22px; margin:3px 6px 0 0; background:url(/cms/images/layout/dc_close.gif) no-repeat 0 0; text-indent:-9999em; cursor:pointer;}
.cartContainer {padding:7px 8px 16px 8px; border-left:1px solid #D9D9D9; border-right:1px solid #D9D9D9; background:#fff;}
.dropCart .dropCartContent {padding:10px 0;}
.dropCartBase .hdrBannerBar {position:static; height:28px; z-index:1; padding:4px 0 0 10px; border-left:1px solid #D9D9D9; border-bottom:1px solid #999;}
.dropCartBase .checkoutBlock {background:#fff; }
.dropCartBase .chkoutBoxes {margin-bottom:0; border-right:1px solid #0079AA;}
.dropCartBase .chkoutBoxes .chkoutRow {border-left:1px solid #0079AA;}
.dropCartBase .chkoutBoxes .chkoutSubtotal {border-left:0; margin-left:1px;}
.dropCartBase .chkoutBoxes .chkoutRow .title {height:25px; padding-bottom:0;}
.dropCartButtons {padding:5px; text-align:center;}

/* recent cart */
.recent-cart {display:none; position:fixed; top:10px; right:10px; width:287px; z-index:1000; background:#fff; border:1px solid #949494;}
.recent-cart .itemWrapper {float:none; display:block; width:auto; height:auto; padding:0 10px;}
.recent-cart .itemWrapper .itemLink,
.recent-cart .itemWrapper .itemLink:link,
.recent-cart .itemWrapper .itemLink:visited {float:left; width:101px;}
.recent-cart .itemWrapper .itemContent {margin-left:110px;}
.recent-cart .itemWrapper .itemTitle {font-weight:bold;}

/* collection items */
.collectionItems {border:solid 3px #ddd;padding:10px;height:350px;overflow:auto;}
.collectionItems .itemWrapper {padding:10px;}
.collectionItems .itemWrapper a.itemLink,
.collectionItems .itemWrapper a.itemLink:link,
.collectionItems .itemWrapper a.itemLink:visited {float:left; display:inline; width:226px;}
.collectionItems .itemWrapper .itemDetails {float:left; display:inline; width:40%; margin-left:10px;}
.collectionItems .itemWrapper .itemTitle {display:inline;}
.collectionItems .itemWrapper .detailsRow {margin:10px 0;}
.collectionItems .itemWrapper .itemQuantity {float:right; display:inline; width:150px;}
.collectionItems .itemWrapper .itemQuantity .rowLabel {float:left; display:inline; margin-right:5px; padding-top:3px;}

.toolTipTrigger {margin-left:10px; cursor:pointer; text-decoration:underline;}
.toolTip {
	display:none;
	width:220px;
	padding:5px;
	text-align:left;
	border:2px solid #e5e3e1;
	background:#fff;
}

.Bannerrotate ul,
.Bannerrotate ul li {display:block; width:100%; text-align:center; margin:0; padding:0; list-style-type:none;}

.RadioButtonList label {margin-right:10px;}

/* site tags */
.tagsWrapper {padding:5px; border:1px solid #ccc;}
.tagsWrapper .taghdng {font-weight:bold; color:#000; text-decoration:none;}
.tagList {display:inline; margin:0; padding:0; list-style-type:none;}
.tagList li {display:inline; margin:0 2px;}
.tagList a,
.tagList a:link,
.tagList a:visited {color:#666;}

.addTag-trigger{text-decoration:underline; cursor:pointer;}
.addTagWrapper {display:none;}

.hTagcloud .tagList {display:block; margin:0 auto; text-align:center;}

.tagList .popular1 {}
.tagList .popular2 {font-size:1.2em;}
.tagList .popular3 {font-size:1.4em;}
.tagList .popular4 {font-size:1.6em;}
.tagList .popular5 {font-size:1.8em;}


/* overlay quick view */
.qvWrapper .qvLeft {float:left; display:inline; width:250px; margin-bottom:10px;}
.qvWrapper .qvRight {float:right; display:inline; width:250px; margin-bottom:10px; padding-top:5px;}
.qvWrapper .productImage {position:relative;}
.qvWrapper .productImage img {display:block; margin:0 auto;}
.qvWrapper .reviewItem  {margin-bottom:18px; padding:10px 0;}
.qvWrapper .textRating {display:none;}
.qvWrapper .averageCount {margin-left:7px; font-style:italic; color:#2d7ac0;}
.qvWrapper .itemPrice {margin:10px 0; padding:0; border:0; line-height:normal;}
.qvWrapper .itemButtons {position:absolute; bottom:14px; left:43px; right:43px;}
.qvWrapper .itemButtons a.detailsButton,
.qvWrapper .itemButtons a.detailsButton:link,
.qvWrapper .itemButtons a.detailsButton:visited {display:block; height:28px; margin-bottom:4px; line-height:28px; font-size:10px; font-weight:bold; color:#fff; text-align:center; text-decoration:none; text-transform:uppercase; background:#000; border:1px solid #6e6d6a;}
.qvWrapper .itemButtons a.detailsButton:hover,
.qvWrapper .itemButtons a.detailsButton:active {background:#6e6d6a;}
.qvWrapper .tabnav li a,
.qvWrapper .tabnav li a:link,
.qvWrapper .tabnav li a:visited {padding:5px 20px; font-size:11px;}
.qvWrapper .tabnav li.ui-tabs-selected a,
.qvWrapper .tabnav li.ui-tabs-selected a:link,
.qvWrapper .tabnav li.ui-tabs-selected a:visited {font-size:11px; padding:6px 20px;}


/* ## Member Saved Orders ## */

.savedOrders {}
.savedOrders li { padding:10px; border-top:1px dashed #999; }
.savedOrders li:first-child { border-top:0; }

/* Added by Jason Harle 12/30/2014 */
.armyContent #CT_Main_1_rdoPhoneType tbody tr td { padding:25px 0 25px 15px; }
.armyContent p { margin:0; padding-bottom:10px; }
#CT_Main_1_btnSave { margin-top:15px; }
.eyai { margin:10px 0; }
.eyai + h2 {font-size:1.7em;}
.armyContent .formee div { margin-bottom:15px; }
.armyContent .formee div div { margin-bottom:0; }
.armyContent .formee input { margin-bottom:0; }




.ui-dialog.small-screen{top:0!important; bottom:0!important;}
.ui-dialog.small-screen #dialog-StoreLocator{height: 100%!important;}


/* =================================================================
                        Media Queries
===================================================================*/
@media only screen and (min-width:11.250em) and (max-width:47.938em) {
	.pageHeading {background:#f1f1f1; }
    .pageHeading h1 {font-size:2em;}
    .armyContent .formee div div { padding:0; }
}
@media only screen and (min-width:48em) and (max-width:59.938em) {
    .pageHeading h1 {font-size:3em;}	
}




